/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&family=Poppins:wght@300;400;500&family=Allura&display=swap");

.about-section {
    position: relative;
    overflow: hidden;
    padding: 100px 8%;
    background:

        linear-gradient(135deg,
            #deb7c8,
            #ffffff);


}

/* Background */

.bg-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 500px;
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 0;
}

.bg-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 520px;
    background: #f8eeee;
    z-index: 0;
}

/* Top */

.about-top {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
    align-items: start;
}

.small-title {
    font-size: 14px;
    letter-spacing: 4px;
    color: #f1f0f1;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
    font-family: Poppins, sans-serif;
}

.top-left h1 {
    font-family: "Cormorant Garamond", serif;
    padding-top: 20px;
    font-size: 74px;
    line-height: 0.95;
    font-weight: 400;
    color: #ffffff;
}

.meet {
    font-family: Allura, cursive;
    font-size: 70px;
    color: #e6bfd0;
    margin-left: 15px;
}

.top-right {
    max-width: 370px;
    margin-left: auto;
}

.top-right p {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    color: #fffbfb;
    line-height: 1.9;
    margin-bottom: 30px;
}

/* Heading */

.title-wrapper {

    position: relative;
    z-index: 2;
    text-align: center;
    margin: 100px 0;
}

.title-wrapper h2 {
    padding-top: 150px;
    font-family: "Cormorant Garamond", serif;
    font-size: 82px;
    font-weight: 500;
    letter-spacing: 9px;
    color: #515152;
}

/* Service */

.service-section {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
    align-items: center;
    margin-bottom: 120px;
    margin-top: 20px;
}

.reverse {
    margin-top: 70px;
}

.service-content h3 {
    font-family: Allura, cursive;
    font-size: 64px;
    color: #2f2f35;
    margin-bottom: 20px;
    font-weight: 400;
    margin-top: 0px;
}

.service-content p {
    font-family: Poppins, sans-serif;
    color: #555;
    line-height: 1.9;
    margin-bottom: 25px;
    max-width: 470px;
}

.service-content a {
    display: inline-block;
    background: #474752;
    color: #fff;
    padding: 14px 28px;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    transition: .3s;
}

.service-content a:hover {
    background: #2d2d34;
}

/* Images */

.service-image {
    position: relative;
}

.image-frame {
    width: 430px;
    margin: auto;
    border: 2px solid #edd6df;
    border-radius: 220px 220px 0 0;
    padding: 10px;
}

.image-frame img {
    width: 100%;
    height: 520px;
    object-fit: cover;
    border-radius: 210px 210px 0 0;
    display: block;
}

.square-image {
    width: 430px;
}

.square-image img {
    width: 100%;
    height: 430px;
    object-fit: cover;
}

/* Dots */

.dots {
    position: absolute;
    width: 150px;
    height: 90px;
    background-image: radial-gradient(#000 2px, transparent 2px);
    background-size: 16px 16px;
    opacity: .85;
}

.dots-right {
    right: -20px;
    bottom: -40px;
}

.dots-left {
    left: 220px;
    bottom: -50px;
}

/* Responsive */

@media(max-width:991px) {

    .about-top,
    .service-section {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .top-left h1 {
        font-size: 56px;
    }

    .title-wrapper h2 {
        font-size: 55px;
        letter-spacing: 4px;
    }

    .service-content h3 {
        font-size: 52px;
    }

    .image-frame,
    .square-image {
        width: 100%;
    }

    .image-frame img {
        height: 480px;
    }

    .bg-left {
        width: 100%;
        height: 480px;
    }

    .bg-bottom {
        width: 100%;
        height: 400px;
    }

    .dots {
        display: none;
    }

}

@media(max-width:600px) {

    .about-section {
        padding: 70px 25px;
    }

    .top-left h1 {
        font-size: 42px;
    }

    .meet {
        display: block;
        margin: 10px 0 0;
        font-size: 55px;
    }

    .title-wrapper h2 {
        font-size: 38px;
    }

    .service-content h3 {
        font-size: 42px;
    }

    .image-frame img {
        height: 360px;
    }

    .square-image img {
        height: 320px;
    }

}